celery==3.1.18
tornado==4.2
flower==0.9.1
redis==2.10.5
SQLAlchemy==0.9.10
pillow==4.0.0
pinyin==0.4.0
requests==2.13.0
MySQL-python
user-agents==1.0.1
pyCrypto==2.6.1
pyDes==2.0.1
xlsxwriter==0.9.6
myjscss==1.0.6
rsa==3.4.2
jieba==0.38
qrcode==5.3
python-docx==0.8.6
xmltodict==0.10.2
pyquery==1.2.17
pympler==0.4.3
